<h1>
  Seus conteúdos:
</h1>

<table>
  <tr>
    <th>URL do conteúdo</th>
    <th>URL da imagem</th>
    <th>Título</th>
    <th>Descrição</th>
    <th>Site/Blog</th>
    <th>Data</th>
  </tr>
  <% @samples.each do |sample| %>
  <tr>
    <td><%= sample.content_url %></td>
    <td><%= sample.image_url %></td>
    <td><%= sample.headline %></td>
    <td><%= sample.description %></td>
    <td><%= sample.medium %></td>
    <td><%= sample.date %></td>
    <td><%= link_to "Editar", edit_sample_path(sample) %></td>
    <td><%= link_to "Visualizar", sample_path(sample)%></td>
    <td><%= link_to "Deletar", sample_path(sample), method: :delete, data: {confirm: "Tem certeza que quer deletar esse conteúdo?"} %></td>
  </tr>
  <% end %>
</table>
<br>
<%= link_to "Postar Novo Conteúdo", new_sample_path %>